body {
  background: #282828;
  position:relative;
}
nav {
  width: 100%;
  background: rgba(73, 73, 73, 0.7);
  border-radius:10px;
  position:relative;
}
.h_menu {
  width:850px;
  margin: 0 auto;
  position: relative;
}
.h_menu li {
  display:block;
  width: 2.5em;
  height: 2.5em;
  margin: 10px 30px;
  position: relative;
  border:1px;
  border-radius: 50%;
  color: #333333;
  text-shadow: 0 3px 10px #e2e2e2, 0 -3px 10px #e2e2e2;
  float: left;
  font-size: 22px;
  text-align: center;
  line-height: 2.5em;
  background: -webkit-radial-gradient(
    circle at top center,
    #e5e5e5,
    #969696,
    #686868
  );
  background: radial-gradient(circle at top center, #e5e5e5, #969696, #686868);
  transition: color 0.5s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.h_menu li:hover {
  color: #e2e2e2;
  text-shadow: 0 3px 10px #333333, 0 3px 10px #333333;
  -webkit-animation: jump 0.5s;
  -o-animation: jump 0.5s;
  -moz-animation: jump 0.5s;
  animation: jump 0.5s;
}
@-webkit-keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 5px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 3px;
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 5px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 3px;
  }
  100% {
    bottom: 0px;
  }
}
@-moz-keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 5px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 3px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 5px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 3px;
  }
  100% {
    bottom: 0px;
  }
}

.h_menu li:active {
   animation: bigger 0.4s;
  -webkit-animation: bigger 0.4s;
  -o-animation: bigger 0.4s;
  -moz-animation: bigger 0.4s;
}
@-webkit-keyframes bigger {
  0% {
    font-size: 22px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 22px;
  }
}
@-o-keyframes bigger {
  0% {
    font-size: 22px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 22px;
  }
}
@-moz-keyframes bigger {
  0% {
    font-size: 22px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 22px;
  }
}
@keyframes bigger {
  0% {
    font-size: 22px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 22px;
  }
}
.page {
	width: 1500px;
	position: relative;
}
.blog_info {
	height:100%;
	width: 10em;
	margin:5px 0 5px 80px;
	padding:10px;
	background:rgba(25, 25, 25, 0.7);
	border-radius:8px;
	float:left;
	position:relative;
	text-align:center;
	font-size:18px;
	color: #d6d6d6;
}
.blog_info a {
	display:block;
	color: #d6d6d6;
}
.blog_info .way {
	margin:10px 0px;
	padding-bottom:20px;
	font-size:12px;
	border-radius:3px;
	border-bottom:#d6d6d6 solid 2px;
}
.blog_info .articles {
	margin:20px;
	font-size: 15px;
}
.content {
	height: 100%;
	width: 54em;
	margin:5px 0px 10px 18px;
	padding:40px;
	background: rgba(25 ,25 ,25 ,0.7);
	border-radius:8px;
	color: #d6d6d6;	
	float:left;
	position: relative;
	text-align: center;
}
.title {
	font-size: 38px;
}